#head{
    padding: 20px;
}

#picbox{
  height: 700px;
  width: 80%;
  animation: fade 1.5s;
}


.img-zoom-result {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 500px;
  height: 1340px;
  transform: rotate(90deg);
  margin-top:-300px;
}

@-webkit-keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
} 

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}
.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  width: 10px;
  height: 26.8px;

}
