
{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
{% load static  %}  
{% static "" as baseUrl %}
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Employee Records</title>  
     {% load static %}  
</head> 

<style>
   .button {
     font: bold 11px Arial;
     color: white;
     padding: 2px 6px 2px 6px;
     border-top: 1px solid #CCCCCC;
     border-right: 1px solid #333333;
     border-bottom: 1px solid #333333;
     border-left: 1px solid #CCCCCC;
    }

    #style-list{
      background-color:white; 
      width:100%; 
      height:50px;
    }
    
    .form-popup {
      display: none;
      border: 3px solid #f1f1f1;
    }
    
</style>

<body>  
<br/>

<br/>
    
{% if user.is_authenticated %}

<div class="row justify-content-md-center">
 <div style="width:100%;padding-left:40%">
  <form method="Post" id="submit">  
  {% csrf_token %}
  <div>
   <div class="input-group mb-3 input-group-sm" style="width:30%">
      <div class="input-group-prepend">
        <span class="input-group-text" style="">Number of Pages</span>
      </div>
      <input type="number" id="quantity" name="quantity" class="form-control" min="1" max="100" value="1">
    </div>  
    <div class="input-group mb-3" style="width:50%">
     <div class="input-group-prepend">
      <button style="background-color: limegreen;" class="btn btn-primary">Check</button>  
     </div>
       {{ form.name }}
     </div>

</form>

<br/>
 <h4>Your Checked Domains</h4>
 <p>
   Have a good Day 
 </p>
   
   <table class="table table-striped table-bordered table-sm" style="width:50%"> 
     <tbody>
     {% for url in urls %}  
       <tr>  
         <td style="width:80%"> 
           <a href="/view/{{ url.id }}">{{ url.name }}</a>
         </td>
         <td style="width:20%">
          <a href="/view/{{ url.id }}" class="button" style="background-color:#DF0101;"><i class="fa fa-plus-square" aria-hidden="true"></i></a>  
          <a href="/delete/{{ url.id }}" class="button" style="background-color:#0080ff;"><i class="fa fa-trash" aria-hidden="true"></i></a>  
         </td>
       </tr>
     {% endfor %}
     </tbody>
    </table>
  <div>  
  {% load times %}
  <ul class="pagination pagination-sm">
  {%  for i in page|times  %} 
    {% if i|stringformat:"s" == current|stringformat:"s" %}
    <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
    {% endif %}
    
  {% endfor %}
  </ul>
  </div>
</div>
</div>
</div>
<br/>



{% endif %}
{% endblock %}
</body>  
{% block javascript %}

<script>
  var index=0;
  var index1=0;
  var ins;
  var willstop=0;
 
  /*
  function openTab(Name)
  {
    var i;
    var size;
    var loca1=[];
    var x = document.getElementsByClassName("view");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
    document.getElementById(Name).style.display = "block";  
  }
  */
  /*
  $( "#next" ).click(function() {
    if(document.getElementById("first").style.display != "none" )
    {
      var childiFrame = document.getElementById("iframe");
      childiFrame.contentWindow.gotoAnother();
    }
    else{
      index1+=1;
      PicgotoAnother();
    }
  });
  */

  /*
  function PicgotoAnother()
  {
     if(index1==loca1.length)
     {
       index1=0;
     }
    $("#google").scrollTop=0;
    $("#google").scrollLeft=0;
    var x = loca1[index1][0]-250;
    var y = loca1[index1][1]-250;
    if(x<0){
      x=0
    }
    if(y<0){
      y=0
    }
    console.log(x,y)
    $("#google").scrollTop(y).scrollLeft(x);
  }
  */
  /*
  var poll = function(){
      poll_xhr = $.ajax({
        url:'./poll_state',
        type: 'POST',
        data: {
            csrfmiddlewaretoken: "{{csrf_token}}",
        },
        success: function(result) {
                    if(result=="Wait")
                    {
                      willstop=1
                    }
                    if(typeof result.process_percent !='undefined')
                    {
                      if (result.process_percent==100 && willstop==0)
                      {
                        var current_web= result.current_web;
                        var percent = result.process_percent;
                        $("#showprogress").empty();
                        willstop = 1;
                        window.alert("Your Task is done, Let Checkout!!!");
                        location.reload();
                      }
                      else
                      {
        
                        willstop = 0;
                        var current_web= result.current_web;
                        var percent = result.process_percent;
                        $("#showprogress").empty();
                        $("#showprogress").append('<span style="margin:20px"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Try to Scan Website <a style="color:blue;" href="'+current_web+'">'+current_web+'</a> .... </span> <span>'+percent+'%</span>')
                      }
                    }
                    else
                    {
                      
                    }
                }
      });
    };
  
  
  
  
  $("#submit").submit(function (e) {
      
      e.preventDefault();
      willstop=0;
      var hrefurl = $("#id_name").val();
      var serializedData = $(this).serialize();
      $.ajax({
          method: "POST",
          url: "./",
          data: serializedData,
          success: function (response) {
             var spinner=$('.spinner-border').hide();
             $("#showprogress").append('<span style="margin:20px"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Try to Scan Website <a style="color:blue;" href="'+response.domain+'">'+response.domain+'</a> .... </span>')
          },
          error: function (response) {
              alert("fail");
          }
      })
  })
  */


  /*
  function explore(response){
            ins = JSON.parse(response);
            if(ins.error==0)
            {
            text=ins.check.replaceAll('<','&lt;')
            $('.word-list ul').empty();
            ins.tagname.forEach(element => 
            {
              href='/gethref/?id='+ins.id+'&word='+element
              $(".word-list ul").append('<li><a data-toggle="modal" data-target="#ShowModal" data-url="'+href+'">'+element+'</a></li>');
            });
            $("#showprogress").append('<i class="fa fa-check" aria-hidden="true"></i><br/>')
            var spinner=$('.spinner-border').hide();
            size=ins.size
            }
            else{
              $("#showprogress").append('<i class="fa fa-times" aria-hidden="true"></i><br/>')
              var spinner=$('.spinner-border').hide();
            }
            if(ins.continue==1)
            {
              ContinueAjax()
            }
            
  }
  */
  /*
  function ContinueAjax(){
     
     $("#showprogress").append('<span style="margin:20px"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Try to Scan Website <a style="color:blue;" href="'+ins.next+'">'+ins.next+'</a> .... </span>')
     $.ajax({
          method: "POST",
          url: "./",
          data: {
            'continue':1,
            'csrfmiddlewaretoken': '{{ csrf_token }}',
          },
          dataType: 'json',
          success: function (response) {
          
            explore(response);
            
          },
          error: function (response) {
              alert("fail");
          }
      })
  }
  */
  /*
  function tunnel(fn) {
    fn();
  }
  */
  /*
  function tunnel1(loca) {
    loca1=loca;
    $("#google").scrollTop=0;
    console.log(loca1)
    if(loca1.length==0)
    {
       console.log(1);
       $('#picture').attr('src', '');  
       document.getElementById("myForm").style.display = "block";
       document.getElementById("picture").style.display = "none";
    }
    else
    {
       document.getElementById("picture").style.display = "block";
       document.getElementById("myForm").style.display = "none";
       index1=0;
       PicgotoAnother()
    }
  }
  */
  /*
  $('#ShowModal').on('show.bs.modal', function(e) {
    openTab('first');
    var href=$(e.relatedTarget).data('url');
    var ifame = $("#iframe");
    var pic = $("#picture");
    $(e.currentTarget).find(ifame).attr('src', '');
    $(e.currentTarget).find(pic).attr('src', '');  

    $(e.currentTarget).find(ifame).attr('src', href);
    $(e.currentTarget).find(pic).attr('width', size[0]);
    $(e.currentTarget).find(pic).attr('height', size[1]);
    href=href.replace("gethref","getpic")
    document.getElementById("myForm").style.display = "none";
    setTimeout(function(){ 
       $(e.currentTarget).find(pic).attr('src', href);
    }, 2000);
  });
  */
  /*
  var refreshIntervalId = setInterval(function() {
      if(willstop == 1){
        
      }
      else
      {
        poll();
      }
    },5000);
  */
</script>
{% endblock javascript %}
</html>  