{% extends 'base.html' %}
{% block title %}History{% endblock %}

{% block content %}
{% load static  %}  
{% static "" as baseUrl %}
<style>

table {
  margin-top:100px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<div class="row justify-content-md-center">
  <div style="width:50%;padding-left:10%">
    <table>
      <tr>
       <th>Word</th>
       <th>Date Ignore</th>
       <th>Button</th>
     </tr>
     {% for igword in word_list %}
         <tr>
           <td>{{igword.idword.name}}</td>
           <td>{{igword.created_at}}</td>
           <td></td>
        </tr>
     {% endfor %}
    </table>
    <br/>
    {% load times %}
     <ul class="pagination pagination-sm">
     {%  for i in page|times  %} 
      {% if i|stringformat:"s" == current|stringformat:"s" %}
      <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
     {% endif %}
    {% endfor %}
  </div>

  
</div>
{% endblock %}