{% extends 'base.html' %}
{% block title %}View{% endblock %}

{% block content %}
{% load static  %}  
{% static "" as baseUrl %}
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>URL List</title>  
     {% load static %}  
</head>
<style>
.stylebutton{
  color: black;
  background-color: red;
  
}
.stylebutton1{
  color: black;
  background-color: green;
  
}
    .url_row{
        padding: 2px 6px 2px 50px;
    }
    .button {
     font: bold 11px Arial;
     color: white;
     padding: 2px 6px 2px 6px;
     border-top: 1px solid #CCCCCC;
     border-right: 1px solid #333333;
     border-bottom: 1px solid #333333;
     border-left: 1px solid #CCCCCC;
    }
</style> 
<br/>
<body> 
{% if user.is_authenticated %}
 <div class="row justify-content-md-center">
  <div id="root"></div>
 </div>



{% endif %}
<script>
    window.id = "{{id}}"
 </script>


<script type="text/javascript" src="{% static "/reactjs/bundle.js" %}"> </script>


{% endblock %}
</body>