{% extends 'base.html' %}
{% block title %}View{% endblock %}

{% block content %}

{% load static %}

<head>  
    <meta charset="UTF-8">  
    <title>URL List</title>  
    {% load static %} 
    <link rel="stylesheet" href="{% static "/css/wordform/myModal.css" %}">
    <link rel="stylesheet" href="{% static "/css/wordform/picture-zoom.css" %}">
    <link rel="stylesheet" href="{% static "/css/wordform/wordform.css" %}">
</head>
<style>
#tableForm{
   width: 50%;
  }
td .Buttonstyle{
    resize: none;
    font-size: 0.6rem;
    width: 15%;
    height: 10%;
    text-align: center;
    padding:5px;
}
.tdbutton{
    width: 30%;
    resize: none;
}
.tdsuggest{
    width: 25%;
    resize: none;
}
.tdword{
    width: 45%;
    resize: none;
}
</style>
<br/>
{% if user.is_authenticated %}



<div style="width:100%;height:100%"> 
  <div id="wordform" style="width:100%"></div>
</div>


<script>
   var index=0;

  
  $('#ShowModal2').on('show.bs.modal', function(e) {
    var id=$(e.relatedTarget).data('id');
    $('#ignore_page').val(id)
    $('#ignore_domain').val(id)
    $('#person').val(id)
   });

  
  var personal = function(id)
  {
        poll_xhr = $.ajax(
        {
        url:'/ignore/personal',
        type: 'POST',
        data: {
            id:id,
            csrfmiddlewaretoken: "{{csrf_token}}",
        },
        success: function(result) {
            if(result=='success')
            {
              window.alert("Your Task is done, Let Checkout!!!");
            }
            else
            {
              window.alert("Something Went Wrong!!!");
            }
            location.reload();
        }
        }
      )
  }

  $("#person").click(function() {
    var id = $(this).val();
    setTimeout(() => {    
      personal(id);
    }, 500);
  });


  
  </script>
<script>
    window.items =  "{{list_word}}"
    
    console.log(typeof(window.items))
</script>


<script type="text/javascript" src="{% static "/reactjs/wordform.js" %}"> </script>


{% endif %}
{% endblock %}